#root {
  --white: #ebe9e9e2;
  --grey: #4c5350;
  --gold: #79872b;
  --box: #9f9f9f6b;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}
.btn-success{
  --bs-btn-bg:var(--box)

}

.logo {
  height: 10em;
  padding: 1.5em;
  color: var(--gold);
}
.logo:hover {
  filter: drop-shadow(0 0 2em --gold);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em --gold);
}
